/* header */
.header {
  background: linear-gradient(-180deg, #f53d2d, #f63);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
  margin: 0;
}

/* navbar center */
.navbar__center {
}

.navbar__center-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.navbar__center-item {
}

.navbar__center-item:hover .navbar__center-link {
  color: rgba(255, 255, 255, 0.7);
}
.navbar__center-link {
  text-decoration: none;
  color: var(--navbar-text-color);
  font-size: 1.3rem;
  padding: 0 8px;
  border-right: 2px solid rgba(255, 255, 255, 0.22);
}

/* navbar app install */
.navbar__center-has-app {
  position: relative;
}

.navbar__center-has-app:hover .navbar__app {
  display: block;
}

.navbar__app {
  position: absolute;
  top: calc(var(--navbar-height) - 50%);
  left: 0;
  width: 180px;
  background: #fff;
  border-radius: 4px;
  display: none;
  z-index: 1;
}

.navbar__app::before {
  position: absolute;
  width: 100%;
  height: 16px;
  top: -14px;
  left: 0;
  content: "";
}
.navbar__app-img {
  width: 100%;
  border-radius: 4px;
}

.navbar__app-mobile {
  display: flex;
  flex-wrap: wrap;
  padding: 0 12px 8px;
}

.navbar__app-icon {
  width: 50%;
  padding: 4px 4px;
}

/* navbar connect */
.navbar__connect {
}

.navbar__connect-label {
  font-size: 1.3rem;
  color: var(--navbar-text-color);
  padding: 0 8px;
}

.navbar__connect-link {
  text-decoration: none;
  color: #fff;
  padding-right: 4px;
  font-size: 1.6rem;
}

/* navbar link */
.navbar__link {
  height: var(--navbar-height);
  line-height: var(--navbar-height);
}

.navbar__link-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.navbar__link-item {
}

.navbar__link-item:hover .navbar__link-link {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.navbar__link-link {
  display: block;
  text-decoration: none;
  color: var(--navbar-text-color);
  font-size: 1.3rem;
  padding: 0 12px;
}

.navbar__link-separator {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.navbar__link-icon {
  font-size: 1.6rem;
}

/* navbar info  */
.navbar__link-has-info {
  position: relative;
}

.navbar__link-has-info:hover .navbar__info {
    display: block;
}

.navbar__info {
  position: absolute;
  width: 400px;
  top: 100%;
  right: 0;
  animation: ZoomIn ease-in 0.3s;
  transform-origin: calc(100% - 48px) top;
  display: none;
}

.navbar__info::before {
  --border-height: 10px;
  position: absolute;
  top: calc(0px - var(--border-height) * 2);
  right: 36px;
  content: "";
  border: solid;
  border-width: var(--border-height) 12px;
  border-color: transparent transparent #fff transparent;
}

.navbar__info:after {
    content: "";
    position: absolute;
    top: -12px;
    right: 0;
    width: 24%;
    height: 12px;
}

.navbar__info-content {
  background-color: #fff;
  text-align: center;
  padding: 80px 0;
}

.navbar__info-img {
  width: 30%;
  /* margin: 0 auto; */
}

.navbar__info-label {
  display: block;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
}

.navbar__info-footer {
  background-color: #f5f5f5;
  display: flex;
}

.navbar__info-btn {
  flex: 50%;
  border: none;
  padding: 12px 0;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.8);
}

.navbar__info-btn:hover {
  cursor: pointer;
  color: #ee4d2d;
  background-color: #e8e8e8;
}
/* search */

.search {
    height:var(--search-height);
    margin: 0;
    justify-content: space-between;
    align-items: center;
}
/* search band */
.search__band-link {
    display: block;
    width: 162px;
    padding: 0 8px;
}

.search__band-img {
    width: 100%;
    fill: #fff;
}
/* search center */
.search__center {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 36px;
}

.search__center-input {
    max-width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    height: var(--search-input-height);
    border-radius: 4px;
    padding: 3px;
}

.search__center-input-text {
    border: none;
    font-size: 14px;
    flex: 1;
    outline: none;
    padding-left: 10px;
}

.search__center-btn {
    width: var(--search-center-btn-width);
    background-color: #fb5533;
    border: none;
}

.search__center-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.search__center-btn-icon {
    color: #fff;
    font-size: 1.5rem;
}

.search__center-fast {
    margin-top: 8px;
}

.search__center-fast-list {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.search__center-fast-item {
    margin-right: 13px;
}

.search__center-fast-link {
    text-decoration: none;
    color: hsla(0, 0%, 100%, 0.9);
    font-size: 1.2em;
    display: block;
}
/* search history */
.search__center-input-has-history {
    position: relative;
}

.search__center-input-text:focus ~
.search__center-history {
    display: block;
}

.search__center-history {
    position: absolute;
    top: calc(100% + 7px);
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 4px;
    display: none;
}

.search__center-history-link {
    text-decoration: none;
    color: #000000cc;
    display: block;
    padding: 10px;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

/* search cart */

.search__cart {
    margin: 0 50px;
}

.search__cart-link {
    text-decoration: none;
    padding: 0 12px;
    display: block;
}

.search__cart-link-icon {
    color: #fff;
    font-size: 2.4rem;
}
/* search cart info */

.search__cart-has-info {
    position: relative;
}

.search__cart-has-info:hover 
.search__cart-info {
    display: block;
}

.search__cart-info {
    position: absolute;
    top: calc(100% + var(--border-height)) ;
    right: 0;
    width: 400px;
    background-color: #fff;
    padding: 60px 0;
    text-align: center;
    border-radius: 4px;
    display: none;
    animation: ZoomIn ease-in .3s;
    transform-origin: calc(100% - 12px) top;
}

.search__cart-info:before {

    position: absolute;
    top: calc(0px - var(--border-height) * 2);
    right: 12px;
    content: "";
    border: solid;
    border-width: var(--border-height) 12px;
    border-color: transparent transparent #fff transparent;
}

.search__cart-info:after {
    content: "";
    position: absolute;
    top: -12px;
    right: 0;
    width: 24%;
    height: 12px;
    
}

.search__cart-info-img {

}

.search__cart-info-label {
    padding-top: 20px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.8);
    display: block;
}



.container {
  background-color: #ccc;
  height: 80vh;
}
